@media all and (max-width: 500px) {
            
        .container {
            flex-direction:column-reverse;   
            align-items: center;
        }

        .container-main, .container-main-bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .date,  .place, .point {
            margin: 2vw;
        }

        .fa-dot-circle {
            
            width: 40px;
            height: 40px;
        }

        .h3-, .h4- {
            text-align: center;
        }

        .h4- {
            font-size: 0.7rem;
        }

        .h3- {
            font-size: 0.8rem;
        }

        .icons {
            padding: 10%;
        }

        .mainbar {
            width: 90%;
        }

        .main-bottom {
            margin : 5% auto 0 auto;
        }

        .name {
            font-size: 1.5rem;
        }

        .p-side, .p-main,p {
            font-size: x-small;
        } 

        .photo-side {
            display: none;
        }

        .photo-main {
            display: flex;
         }
        
        .sidebar {
            width: 100%;
        } 
        
        .titre {
            font-size: 1rem;
        }

        .underline {
            margin: 0 5% 0 5%;
            font-size: 0.9rem;
        }

        .year {
            display: flex;
            justify-content: space-between;
            align-items: center;           
        }  
        

    }